@import 'bootstrap/dist/css/bootstrap.css';

* {
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: inherit;
  color: inherit;
}

.link :hover {
  cursor: pointer;
}


body{
  background-color: #f8f7f3;
}